<section class="newsletter-section container">
    <div class="newsletter-content">
        <h2>Assine Nossa Newsletter</h2>
        <p>Aproveite e descubra todo o sabor e qualidade que os produtos da Riviera podem te oferecer.</p>
        <form class="newsletter-form">
            <input type="email" placeholder="Coloque seu melhor e-mail" required>
            <button type="submit">Assinar</button>
        </form>
    </div>
</section>

<footer class="site-footer">
    <div class="container footer-grid">
        <div class="footer-col-brand">
            <div class="footer-logo"><img src="assets/images/riviera.webp" alt="Riviera Pescados"></div>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="footer-col">
            <h4>Use cases</h4>
            <ul><li><a href="#">UI design</a></li><li><a href="#">UX design</a></li><li><a href="#">Wireframing</a></li><li><a href="#">Diagramming</a></li><li><a href="#">Brainstorming</a></li></ul>
        </div>
        <div class="footer-col">
            <h4>Explore</h4>
            <ul><li><a href="#">Design</a></li><li><a href="#">Prototyping</a></li><li><a href="#">Development features</a></li><li><a href="#">Design systems</a></li><li><a href="#">Collaboration features</a></li></ul>
        </div>
        <div class="footer-col">
            <h4>Resources</h4>
            <ul><li><a href="#">Blog</a></li><li><a href="#">Best practices</a></li><li><a href="#">Colors</a></li><li><a href="#">Color wheel</a></li><li><a href="#">Support</a></li></ul>
        </div>
    </div>
</footer>
