<header class="main-header">
    <div class="container header-container">
        <div class="logo">
            <a href="index.html"><img src="assets/images/riviera.webp" alt="Riviera Pescados"></a>
        </div>
        <nav class="main-nav">
            <a href="index.html" data-nav="home">Home</a>
            <a href="produtos.html" data-nav="produtos">Produtos</a>
            <a href="receitas.html" data-nav="receitas">Receitas</a>
            <a href="#" data-nav="quemsomos">Quem Somos</a>
            <a href="#" data-nav="contato">Contato</a>
            <a href="#" data-nav="blog">Blog</a>
        </nav>
    </div>
</header>
