server {
    listen 80;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    # Ativar compressão Gzip
    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript image/svg+xml;
    gzip_min_length 1000;

    # Regra para arquivos estáticos e imagens (Cache de 15 dias)
    location ~* \.(webp|jpg|jpeg|png|gif|ico|svg|woff2|css|js)$ {
        expires 15d;
        add_header Cache-Control "public, max-age=1296000";
        access_log off;
    }

    # Redirecionar rotas não encontradas para o index.html (Útil se tiver rotas virtuais no JS)
    location / {
        try_files $uri $uri/ /index.html;
    }
}