<footer class="main-footer">
    <div class="container footer-grid">
        <div class="footer-col brand-col">
            <div class="logo">
                <a href="index.html"><img src="assets/images/riviera.webp" alt="Riviera Pescados"></a>
            </div>
            <p class="footer-history">A história da Riviera começou em Perdizes, <span class="footer-highlight">desde 2014</span>, iniciando a produção de tilápias com um propósito:</p>
            <p class="footer-history">Transformar o mercado de pescados, levando qualidade em diferentes cortes do produto até você.</p>
        </div>

        <div class="footer-col">
            <h3>INSTITUCIONAL</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="receitas.html">Receitas</a></li>
                <li><a href="quem-somos.html">Sobre Nós</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>PRODUTOS</h3>
            <ul>
                <li><a href="produtos.html">Filé de Tilápia</a></li>
                <li><a href="produtos.html">Tilápia Empanada</a></li>
                <li><a href="produtos.html">Postas de Tilápia</a></li>
                <li><a href="produtos.html">Lançamentos</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>SIGA-NOS</h3>
            <p class="footer-history">Siga a gente nas redes sociais da Riviera, <span class="footer-highlight">para ficar por dentro de tudo</span>.</p>
            <p class="footer-history">Acompanhe de pertinho nossas receitas e novidades, vem acompanhar!</p>
            <div class="social-icons">
                <a href="https://www.instagram.com/rivierapescados/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/rivierapescados"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>