<header class="main-header">
    <div class="container header-container">
        <div class="logo">
            <a href="index.html"><img src="assets/images/riviera.webp" alt="Riviera Pescados"></a>
        </div>
        <nav class="main-nav">
            <a href="index.html">Home</a>
            <a href="produtos.html">Produtos</a>
            <a href="receitas.html">Receitas</a>
            <a href="quem-somos.html">Quem Somos</a>
            <a href="contato.html">Contato</a>
            <a href="blog.html">Blog</a>
        </nav>
    </div>
</header>
