<header class="main-header">
    <div class="container header-container">
        <div class="logo">
            <a href="index.html">
                <picture>
                    <source srcset="assets/images/riviera.webp" type="image/webp">
                    <img src="assets/images/riviera.png" alt="Riviera Pescados" onerror="this.onerror=null; this.src='assets/images/riviera.png';">
                </picture>
            </a>
        </div>
        <nav class="main-nav">
            <a href="index.html">Home</a>
            <a href="produtos.html">Produtos</a>
            <a href="receitas.html">Receitas</a>
            <a href="quem-somos.html">Quem Somos</a>
            <a href="contato.html">Contato</a>
            <a href="blog.html">Blog</a>
        </nav>
    </div>
</header>
